<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	  <div class="ui menu">
  <div class="header item">
    Our vebside
  </div>
  <a class="item" href="home.html">
    home
  </a>
  <a class="item" href="game.html">
    game
  </a>
  <a class="item" href="series.html">
    series
  </a>
  <a href="about.html" class="item">
  	about
  </a>
</div>
	<div class="ui celled grid">
  <div class="row">
    <div class="three wide column">
      <img>
    </div>
    <div class="thirteen wide column">
    	<h1>{{title}}</h1>
      <p>{{text}}</p>
    </div>
  </div>
</div>
	

</body>
</html>