<!DOCTYPE html>
<html>
<head>
	<title></title>
  <meta charset="utf-8">
</head>
<body>

    <link rel="stylesheet" type="text/css" href="semantic/semantic.min.css">
<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
<script src="semantic/semantic.min.js"></script>
	  <div class="ui menu">
  <div class="header item">
    Our vebside
  </div>
  <a class="item" href="/">
    home
  </a>
  <a class="item" href="/game">
    game
  </a>
  <a class="item" href="/series">
    series
  </a>
  <a href="/about" class="item">
  	about
  </a>
</div>
	<div class="ui celled grid">
  <div class="row">
    <div class="three wide column">
      <img src="https://upload.wikimedia.org/wikipedia/en/thumb/2/27/Pokemonseason1DVDBoxSet.jpg/225px-Pokemonseason1DVDBoxSet.jpg">
    </div>
    <div class="thirteen wide column">
    	<h1>{{title2}}</h1>
      <p>{{text2}}</p>
    </div>
  </div>
</div>
	

</body>
</html>